#Nav ul{
    list-style: none;
    padding: 30px;
    display: flex;
    gap: 20px;
    width: 85%;
    margin: auto;
}

#Nav a:link, #Nav a:visited {
    color: var(--dark);
    font-size: 1.1em;
    transition: .3s;
    text-decoration: none;
}

#Nav a:hover {
    text-decoration: underline;
}

#Nav a.active {
    color: var(--secondary);
}